table
{
    border-collapse:collapse;
    width: 100%;
}

table,th, td
{
    border: 1px solid black;
    text-align: center
}
#wrapper{
    width: 1000px;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%)
}
.Arrow{
    display: inline-block;
    border: 1px solid #000000;
    border-bottom: none;
    border-left:none;
    width:10px;
    height: 10px;
    cursor: pointer;
    transition: all .1s
}
.bottomArrow{
    transform: rotate(135deg);
}
.topArrow{
    transform: rotate(-45deg);
}