:root{
    --border-size: 25px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding-top: 200px;
}
.container{
    display:block;
    /* padding: 50px; */
    position: relative;
    height: 400px;
    width: 250px;
    margin: 0 auto;
    border-radius: var(--border-size);
    box-shadow: 0 15px 30px #ccc;
}
.container .color-render{
    height: 160px;
    background:#000000;
    border-top-left-radius: var(--border-size);
    border-top-right-radius: var(--border-size);
}
.container .pick-line{
    height: 15px;
    background: yellow;
}
.panel{
    width: 400px;
    height: 400px;
    background: #000000;
    display: inline-block;
}
.bar{
    display: inline-block;
    width: 8px;
    height: 400px;
    margin-left: 20px;
    background: linear-gradient(to bottom,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
    border-radius: 5px;
}
.dot{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #000000;
    /* transform: translateX(-50%) */
    margin-left: -7px;
    margin-top: -7px;
}